<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>ログイン</h1>
      <!-- ここからform_withを使う形に修正してください -->
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" type="text" name="email" id="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input class="form-control" type="text" name="password" id="password" />
        </div>
        <input type="submit" name="commit" value="ログイン" class="btn btn-primary" data-disable-with="ログイン" />
      </form>
      <!-- ここまでform_withを使う形に修正してください -->
      <div class='text-center'>
        <a href="#">登録ページへ</a>
        <a href="#">パスワードをお忘れの方はこちら</a>
      </div>
    </div>
  </div>
</div>