<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>ユーザー登録</h1>
      <!-- ここからform_withを使う形に修正してください -->
      <form>
        <div class="mb-3">
          <label for="user_last_name" class="form-label">Last name</label>
          <input class="form-control" type="text" name="user[last_name]" id="user_last_name" />
        </div>
        <div class="mb-3">
          <label for="user_first_name" class="form-label">First name</label>
          <input class="form-control" type="text" name="user[first_name]" id="user_first_name" />
        </div>
        <div class="mb-3">
          <label for="user_email" class="form-label">Email</label>
          <input class="form-control" type="email" name="user[email]" id="user_email" /> 
        </div>
        <div class="mb-3">
          <label for="user_password" class="form-label">Password</label>
          <input class="form-control" type="password" name="user[password]" id="user_password" />
        </div>
        <div class="mb-3">
          <label for="user_password_confirmation" class="form-label">Password confirmation</label>
          <input class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation" />
        </div>
        <input type="submit" name="commit" value="登録" class="btn btn-primary" data-disable-with="登録" />
      </form>
      <!-- ここまでform_withを使う形に修正してください -->
      <div class='text-center'>
        <a href="#">ログインページへ</a>
      </div>
    </div>
  </div>
</div>