<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li class='alert-danger'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>